{extends '@layout.latte'}


{block #content}
      <div class="post">
        <h2 class="title">Nový článek</h2>
        <div style="clear: both;">&nbsp;</div>
        <div class="entry">
          {control articleForm}
        </div>
      </div>
{/block}